<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="prmax">
      <ion-icon name="calculator"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="wod">
      <ion-icon name="barbell"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
